# API Reference

The {{python_package_name}} package provides a CLI interface and application entry point built with typer and pydantic-settings.

.. automodule:: {{python_package_name}}
   :members:
   :member-order: bysource
   :undoc-members: False
   :show-inheritance:

## Modules

.. toctree::
   :hidden:

   {{python_package_name}}.cli
   {{python_package_name}}.main
   {{python_package_name}}.web

