{
  "name": "{{project_name}}",
  "dockerComposeFile": ["../templates/compose.dev.yaml"],
  "service": "app",
  "workspaceFolder": "/app",
  "remoteEnv": {
    "COMPONENT_IMAGE": "{{project_name}}:dev"
  },
  "postCreateCommand": "cd /app && uv sync --no-dev && cp .copier-answers.yml .copier-answers.yml.bak 2>/dev/null; true",
  "remoteUser": "root",
  "features": {
    "ghcr.io/devcontainers/features/docker-in-docker:2": {}
  },
  "customizations": {
    "vscode": {
      "extensions": ["charliermarsh.ruff", "ms-python.python"]
    }
  },
  "forwardPorts": [8337]
}
