"""CLI interface for {{project_name}}."""

from __future__ import annotations

import sys
from typing import Annotated

import typer
from loguru import logger

from {{python_package_name}} import __version__

app = typer.Typer(
    name="{{project_name}}",
    help="{{description}}",
    no_args_is_help=True,
    pretty_exceptions_short=True,
)


class RichTyper(typer.DefaultCallback):
    """Override Typer's default callback to use rich logging."""

    console_stdout = typer.rich_utils.make_json_highlighter()
    console_stderr = typer.console_stderr


@app.callback(invoke_without_command=True)
def main_callback(
    ctx: typer.Context,
    verbose: Annotated[
        bool, typer.Option("--verbose", "-v", help="Enable verbose logging")
    ] = False,
):
    """Enter callback for {{project_name}}."""
    if ctx.invoked_subcommand is None:
        typer.echo(ctx.get_help())
        ctx.exit()

    log_level = "DEBUG" if verbose else "INFO"
    logger.remove()
    logger.add(sys.stderr, level=log_level)


@app.command()
def version() -> None:
    """Show version information."""
    typer.echo(f"{{project_name}} v{{version}}")
    typer.echo(f"Python {sys.version.split()[0]}")


@app.command()
def run(
    verbose: Annotated[bool, typer.Option("-v", "--verbose")] = False,
) -> None:
    """Run {{project_name}}."""
    if not verbose:
        logger.remove()
        logger.add(sys.stderr, level="INFO")

    logger.info("Running {{project_name}}...")


if __name__ == "__main__":
    app()
